@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-carbon-Black text-center font-sergio-trendy px-4 text-[32px] sm:text-[38px] md:text-5xl not-italic font-normal capitalize leading-9 sm:leading-normal;
  }
  .contact-input-style {
    @apply !text-squantgrey text-base rounded-full focus:ring-blue-500 focus:border-blue-500 block px-4 p-2.5;
  }
  .faq-btn-style {
    @apply flex justify-between gap-2 items-center cursor-pointer  bg-light-purple shadow-[0px_4px_4px_0px_rgba(0,0,0,0.10)] pl-5 sm:pl-8  rounded-[57px] z-10 relative;
  }
  .faq-content-style {
    @apply text-carbon-Black font-Montserrat text-sm sm:text-base sm:max-w-[635px];
  }
}

@font-face {
  font-family: "sergio-trendy";
  src: url("/font/Sergio-Trendy.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Kurdis-ExtraWide-SemiBold";
  src: url("/font/Kurdis-ExtraWideSemiBold.ttf");
}

body {
  background-color: #f4f1e6;
}

.sidebar-open {
  height: 100vh;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #f7f7f7 !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

@layer components {
  .para {
    @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-normal leading-normal list-disc ml-8;
  }

  .blogopencelebrationlifepara {
    @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-medium leading-normal;
  }

  .blogopenincrediblepara {
    @apply text-carbon-Black font-Montserrat text-base font-normal leading-normal;
  }

  .imageswiperheading {
    @apply text-carbon-Black font-Montserrat text-2xl font-extrabold leading-normal;
  }
}
.mySwiper5 .swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 0.5 !important;
  width: 12px !important;
  height: 12px !important;
  cursor: pointer !important;
  display: none !important;
  border-radius: 50%;
}
.mySwiper5 .swiper-pagination {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.mySwiper5 .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

@media (max-width: 639.98px) {
  .mySwiper5 .swiper-pagination-bullet {
    display: inline-block !important;
  }
}
.custom-shadow {
  border-radius: 0px 0px 36px 36px;
  background: var(--Noma, #f4f1e6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.terms-conditions {
  @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-normal leading-normal pb-[110px];
}

.terms-conditions h1 {
  @apply text-carbon-Black font-Montserrat text-2xl sm:text-3xl font-extrabold leading-normal;
}

.terms-conditions h2 {
  @apply text-carbon-Black font-Montserrat text-xl sm:text-2xl font-extrabold leading-normal my-2;
}

.terms-conditions p {
  @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-normal leading-normal my-2;
}

.terms-conditions ul {
  @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-normal leading-normal my-2 list-disc ml-8;
}

.terms-conditions ol {
  @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-normal leading-normal my-2;
}

.terms-conditions li {
  @apply text-carbon-Black font-Montserrat text-sm sm:text-base font-normal leading-normal my-2;
}
